<fieldset>
  <legend>{{ localize "lightmask.AmbientConfiguration.LegendTitle" }}</legend>

    <div class="form-group">
      <label for="lightmask.shapes">{{ localize "lightmask.AmbientConfiguration.Shapes.Name" }}</label>
      <div class="form-fields">
        <select id="lightmaskshapes" name="flags.lightmask.shape">
          {{ selectOptions lightmask.shapes selected=data.flags.lightmask.shape localize=true }}
        </select>
      </div>
    </div>

    {{#if lightmask.isPolygon }}
    <div class="form-group">
      <label>{{ localize "lightmask.AmbientConfiguration.NumSides.Name" }}</label>
      <div class="form-fields">
        <input type="number" id="lightmasksides" name="flags.lightmask.sides" step="1" min="3" value={{ data.flags.lightmask.sides }}>
      </div>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.NumSides.Hint" }}</p>
    </div>
    {{/if}}

    {{#if lightmask.isStar }}
    <div class="form-group">
      <label>{{ localize "lightmask.AmbientConfiguration.NumPoints.Name" }}</label>
      <div class="form-fields">
        <input type="number" id="lightmasksides" name="flags.lightmask.sides" step="1" min="5" value={{ data.flags.lightmask.sides }}>
      </div>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.NumPoints.Hint" }}</p>
    </div>
    {{/if}}

    {{#if lightmask.isEllipse }}
    <div class="form-group">
      <label>{{ localize "lightmask.AmbientConfiguration.Ellipse.MinorAxis.Name" }}</label>
      <div class="form-fields">
        <input type="number" placeholder="{{gridUnits}}" id="lightmaskEllipseMinor" name="flags.lightmask.ellipseMinor" step="any" value={{ data.flags.lightmask.ellipseMinor }}>
      </div>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.Ellipse.MinorAxis.Hint" }}</p>
    </div>
    {{/if}}

    <div class="form-group">
      <label>{{ localize "lightmask.AmbientConfiguration.CachedWallID.Name" }}</label>
      <div class="form-fields">
        <input name="flags.lightmask.customWallIDs" type="text" data-dtype="text" value={{ data.flags.lightmask.customWallIDs }}>
      </div>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.CachedWallID.Hint.Light" }}</p>
    </div>

    <div class="form-group">
      <label>{{localize "lightmask.AmbientConfiguration.Relative.Name"}}
      <input type="checkbox" class="lightmaskRelativeCheckbox" name="flags.lightmask.relative" {{ checked data.flags.lightmask.relative }}/>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.Relative.Hint.Light" }}</p>
    </div>


    <div class="form-group">
      <button type="button" class="saveWallsButton">{{ localize "lightmask.AmbientConfiguration.CachedWallID.Button.Name" }}</button>
      <p class="hint">{{ localize "lightmask.AmbientConfiguration.CachedWallID.Button.Hint" }}</p>
    </div>

  </legend>
</fieldset>