<section class="tab standard-form scrollable {{tabs.lightmask.cssClass}}"
         data-tab="lightmask" data-group="{{tabs.lightmask.group}}">

    <div class="form-group">
      <label>{{ localize "Rotation" }} <span class="units">({{ localize "Degrees" }})</span></label>
      <div class="form-fields">
        {{ rangePicker id="lightmaskrotation" name="flags.lightmask.rotation" class="lightmask" value=source.flags.lightmask.rotation min="0" max="360" step = "1" }}
      </div>
    </div>

{{> "modules/lightmask/templates/lightmask-source-config-partial.html"}}

</section>